{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Компания «Альбатрос Транс» — это современная логистическая компания, предоставляющая услуги по доставке грузов по всем направлениям стран СНГ, Европы и внутри ЕАЭС.">
    <meta name="keywords" content="Логистическая компания Кыргызстан, Международные перевозки СНГ, Доставка грузов Европа, Логистика ЕАЭС, Надежная доставка грузов, Грузоперевозки Кыргызстан, Качественные логистические услуги, Услуги по доставке грузов, Альбатрос Транс логистика">
    <link rel="icon" type="image/png" href="{% static 'images/лого.png' %}">
    <title>Главная-Альбатрос Транс</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        #scrollTopBtn {
            display: none; /* По умолчанию скрываем кнопку */
            position: fixed; /* Фиксированное положение на странице */
            bottom: 20px;
            right: 20px;
            z-index: 99; /* Устанавливаем высокий z-index, чтобы кнопка оставалась поверх других элементов */
        }
        .navbar {
            background-color: transparent;
            transition: background-color 0.5s ease;
        }

        .navbar.scrolled {
            background-color: white !important;
        }
        .navbar.toggled {
            background-color: white !important;
        }
        .navbar-nav .nav-link {
    font-size: 1.2rem; /* Увеличенный размер текста */
    padding: 10px 20px; /* Увеличенные отступы */
    border-radius: 25px; /* Закругленные края */
    font-weight: bold; /* Жирный текст */
    text-decoration: underline; /* Подчеркнутый текст */
}

.navbar-nav .nav-item {
    margin: 0 10px; /* Расстояние между кнопками */
}

        .header {
            background: url('/static/images/фон.jpg') no-repeat center top;
            background-size: cover;
            height: 100vh;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        .header-content {
            position: relative;
            z-index: 1001; /* Выше чем навбар */
        }
        .header {
    background-color: #f8f9fa; /* Фон для всего блока */
    padding: 20px;
}

.header-content {
    border: 2px solid rgba(52, 58, 64, 0.8); /* Цвет рамки с прозрачностью */
    background-color: rgba(52, 58, 64, 0.7); /* Прозрачный темный фон */
    color: #ffffff; /* Цвет текста */
    padding: 0px;
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для объема */
}
        .card {
            transition: transform 0.3s;
        }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
        .footer {
            background-color: #343a40;
            color: white;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .footer a {
            color: white;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .footer-icons {
            margin-top: 10px;
        }

        .footer-icons a {
            margin: 0 10px;
            color: white;
            font-size: 1.5rem;
        }
        body {
            font-family: 'PT Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
        .container-1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .direction-block-1 {
            background-color: #f0f0f0;
            width: calc(50% - 10px);
            margin: 5px 0;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
        }
        .direction-block-1 img {
            width: 100px;
            height: auto;
        }
        .direction-block-1 h3 {
            font-size: 30px;
            font-weight: 700;
            color: #0a0a0a;
            margin: 20px 0 10px;
        }
        .direction-block-1 span {
            font-size: 18px;
            color: #0a0a0a;
        }
        @media (max-width: 768px) {
            .direction-block-1 {
                width: calc(100% - 10px);
            }
        }
        #map {
            height: 400px;
            width: 100%;
        }
        .btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #673ab7;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}


    </style>
    <meta name="google-site-verification" content="WIqGw28ExNbQOBoGJW5T-h06ZtKF22Wim_EBVR7Fp8g" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <img src="{% static 'images/лого.png' %}" style="width: 12%">
        <a class="navbar-brand mx-auto" href="{% url 'index' %}"><strong style="font-size: 1.5em;">Альбатрос
            Транс</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-outline-secondary btn-lg fw-bold"
                       href="{% url 'services' %}">Сервисы</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-outline-secondary btn-lg fw-bold"
                       href="{% url 'contact' %}">Контакты</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-outline-secondary btn-lg fw-bold"
                       href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-outline-secondary btn-lg fw-bold"
                       href="{% url 'news' %}">Новости</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-outline-secondary btn-lg fw-bold"
                       href="{% url 'about' %}">О нас</a>
                </li>
                <li class="nav-item mx-2">
                    <p style="font-weight: bold;">+996 555 27 90 90</p>
                    <p style="font-weight: bold;">+996 772 55 20 28</p>
                </li>
                <li class="nav-item mx-2">
                    <p style="font-weight: bold;">albatros.yilmazer@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="header">
    <div class="header-content">
        <h1>Добро пожаловать в Альбатрос Транс!</h1>
        <h5>Альбатрос Транс — ведущая логистическая компания, специализирующаяся на предоставлении комплексных
            транспортных
            и складских решений. Мы предлагаем надежные и эффективные услуги по международным грузоперевозкам,
            складскому хранению, экспедиторскому сопровождению и таможенному оформлению. Наши профессионалы обеспечат
            своевременную доставку вашего груза в любую точку страны, соблюдая все стандарты безопасности и качества.
            доверяйте нам свои логистические задачи, и мы найдем оптимальные пути их решения.</h5>
    </div>
</div>
<div class="container mt-5">
    <div id="zolo_heading_element_128233982066963444235f1"
         class="zolo_heading_element heading_style1 animated hiding reshenie" data-animation="fadeInUp" data-delay="500"
         style=" text-align:center">
        <div class="zolo_heading_element_text"><h2 class="zolo-title "><span class="title_text"
                                                                             style="font-family:PT Sans; font-weight:700; font-style:normal; font-size: 72px; line-height: 50px; ">Решения</span>
        </h2>
            <div class="zolo-heading-delimiter"><span class="delimiter_style_line"></span></div>
        </div>
    </div>
    <div class="wpb_text_column wpb_content_element  vc_custom_1564331612283 reshen">
        <div class="wpb_wrapper">
            <h3 class="tn-atom">Наш основной профиль работы — <strong>выполнение логистических задач любой
                сложности</strong>. Мы выполняем <strong>перевозки стандартных и негабаритных грузов</strong>.</h3>

        </div>
    </div>
    <div style=" "
         class="vc_row wpb_row vc_inner vc_row-fluid section-front vc_custom_1563905688589 apress_inner_row_class_1476560274669634442508f">
        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="aio-icon-component   front-top style_3">
                        <div id="Info-box-wrap-7583" class="aio-icon-box top-icon" style="">
                            <div class="aio-icon-top">
                                <div class="ult-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="aio-icon-img " style="font-size:100px;display:inline-block;"
                                             data-animation="fadeInDown" data-animation-delay="03">
                                            <img class="img-icon" style="width: 15%" alt="null"
                                                 src="https://asiatransit.kg/wp-content/uploads/2019/07/5_1.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="aio-icon-header"><h3 class="aio-icon-title ult-responsive"
                                                             data-ultimate-target='#Info-box-wrap-7583 .aio-icon-title'
                                                             data-responsive-json-new='{"font-size":"desktop:20px;","line-height":"desktop:30px;"}'
                                                             style="font-weight:bold;color:#333333;">Оборудование и
                                техника</h3></div> <!-- header -->
                            <div class="aio-icon-description ult-responsive"
                                 data-ultimate-target='#Info-box-wrap-7583 .aio-icon-description'
                                 data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:20px;"}'
                                 style="color:#333333;">Специализированные транспортные услуги по перевозке негабаритных
                                и тяжеловесных грузов, требующих проектной координации и контроля.
                            </div> <!-- description --></div> <!-- aio-icon-box --></div> <!-- aio-icon-component -->
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="aio-icon-component   front-top style_3">
                        <div id="Info-box-wrap-2315" class="aio-icon-box top-icon" style="">
                            <div class="aio-icon-top">
                                <div class="ult-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="aio-icon-img " style="font-size:100px;display:inline-block;"
                                             data-animation="fadeInDown" data-animation-delay="03">
                                            <img class="img-icon" alt="null"
                                                 src="https://asiatransit.kg/wp-content/uploads/2019/07/front3_1.png"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="aio-icon-header"><h3 class="aio-icon-title ult-responsive"
                                                             data-ultimate-target='#Info-box-wrap-2315 .aio-icon-title'
                                                             data-responsive-json-new='{"font-size":"desktop:20px;","line-height":"desktop:30px;"}'
                                                             style="font-weight:bold;color:#333333;">Стандартные
                                промышленные грузы</h3></div> <!-- header -->
                            <div class="aio-icon-description ult-responsive"
                                 data-ultimate-target='#Info-box-wrap-2315 .aio-icon-description'
                                 data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:20px;"}'
                                 style="color:#333333;">Оптимальные варианты доставки стандартных грузов в контейнерах и
                                автотранспортом, специализация на мультимодальных перевозках.
                            </div> <!-- description --></div> <!-- aio-icon-box --></div> <!-- aio-icon-component -->
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-12">
            <div class="vc_column-inner">
                <div class="wpb_wrapper">
                    <div class="aio-icon-component   front-top style_3">
                        <div id="Info-box-wrap-5612" class="aio-icon-box top-icon" style="">
                            <div class="aio-icon-top">
                                <div class="ult-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="aio-icon-img " style="font-size:100px;display:inline-block;"
                                             data-animation="fadeInDown" data-animation-delay="03">
                                            <img class="img-icon" alt="null"
                                                 src="https://cdn1.ozone.ru/s3/multimedia-p/6419372773.jpg"
                                                 style="width: 12%"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="aio-icon-header"><h3 class="aio-icon-title ult-responsive"
                                                             data-ultimate-target='#Info-box-wrap-5612 .aio-icon-title'
                                                             data-responsive-json-new='{"font-size":"desktop:20px;","line-height":"desktop:30px;"}'
                                                             style="font-weight:bold;color:#333333;">Запчасти и
                                комплектующие</h3></div> <!-- header -->
                            <div class="aio-icon-description ult-responsive"
                                 data-ultimate-target='#Info-box-wrap-5612 .aio-icon-description'
                                 data-responsive-json-new='{"font-size":"desktop:18px;","line-height":"desktop:20px;"}'
                                 style="color:#333333;">Доставка небольших и срочных партий груза по сложным
                                направлениям.
                            </div> <!-- description --></div> <!-- aio-icon-box --></div> <!-- aio-icon-component -->
                </div>
            </div>
        </div>
    </div>
    <div id="ult-easy-separator-1138304933669634442a13a"
         class="ult-easy-separator-wrapper ult-responsive ult-bottom-easy-separator ult-easy-separator-no-default ult-right-img"
         style="transform: translate(0,70%)!important;-ms-transform: translate(0,70%)!important;-webkit-transform: translate(0,70%)!important;right:0%;transform: translate(0%,70%);-ms-transform: translate(0%,70%);-webkit-transform: translate(0%,70%);"
         data-vc-row="wpb_row" data-ultimate-target='#ult-easy-separator-1138304933669634442a13a'
         data-responsive-json-new='{"width":""}'>
        <div class="ult-easy-separator-inner-wrapper">
            <div class=" ult-animation ult-animate-viewport " style="opacity:0;" data-animate="fadeInUpBig"
                 data-animation-delay="0" data-animation-duration="2" data-animation-iteration="1"
                 data-opacity_start_effect=""><img class="ult-easy-separator-img" alt="null"
                                                   src="https://asiatransit.kg/wp-content/uploads/2019/08/razdelit2.png"/>
            </div>
        </div>
    </div>
</div>
<div id="b_2" class="container-fluid px-4 py-5">
    <div class="row">
        <div class="col-12">
            <div class="text-center mb-5">
                <h2 style="font-family: 'PT Sans', sans-serif; font-weight: 700; font-size: 2.5rem; line-height: 1.2;">
                    Направления
                </h2>
                <hr style="width: 50%; height: 4px; background-color: #333; margin: 0.5em auto;">
                <h4 style="font-size: 1.25rem; color: #666;">
                    Основными направлениями работы «Альбатрос Транс» являются автоперевозки грузов
                </h4>
            </div>
        </div>
    </div>
</div>

                    <div class="container-1">
                        <!-- Direction Block 1: Европа-Кыргызстан -->
                        <div class="direction-block-1">
                            <img src="https://www.bilboarde.ir/wp-content/uploads/2020/01/arman-turkish-institute-visit-cart.jpg"
                                 alt="Турция">
                            <h3>Турция</h3>
                        </div>
                        <!-- Direction Block 2: Россия-Кыргызстан -->
                        <div class="direction-block-1">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag-map_of_Georgia.svg/1600px-Flag-map_of_Georgia.svg.png"
                                 alt="Грузия">
                            <h3>Грузия</h3>
                        </div>
                        <!-- Direction Block 3: Китай-Кыргызстан -->
                        <div class="direction-block-1">
                            <img src="https://account.travel/upload/holiday/AZE/176334b42c4683ec481357c75cba80a1.jpg"
                                 alt="Азербайджан">
                            <h3>Азербайджан</h3>
                        </div>
                        <!-- Direction Block 4: Казахстан - Узбекистан -->
                        <div class="direction-block-1">
                            <img src="https://i.pinimg.com/originals/a3/0f/6a/a30f6a6308d8a37f1f54520790cac898.jpg"
                                 alt="Иран">
                            <h3>Иран</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://avatars.dzeninfra.ru/get-zen_doc/1222384/pub_5e74d3dbd9658c05680ee11d_5e74ee8f2cb8ec6132614e70/scale_1200"
                                 alt="Туркменистан">
                            <h3>Туркменистан</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://gas-kvas.com/grafic/uploads/posts/2024-01/gas-kvas-com-p-flag-uzbekistana-na-prozrachnom-fone-4.png"
                                 alt="Узбекистан">
                            <h3>Узбекистан</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://gas-kvas.com/grafic/uploads/posts/2024-01/gas-kvas-com-p-kontur-karti-kazakhstana-na-prozrachnom-fo-7.png"
                                 alt="Казахстан">
                            <h3>Казахстан</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://preview.free3d.com/img/2018/07/2705057168549217396/ki22pgb3.jpg"
                                 alt="Армения">
                            <h3>Армения</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://www.nicepng.com/png/full/49-490170_open-states-that-allow-corporal-punishment-in-schools.png"
                                 alt="Россия">
                            <h3>Россия</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://miprp.ru/site/uploads/2019/03/Беларусь.png"
                                 alt="Беларусь">
                            <h3>Беларусь</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://grizly.club/uploads/posts/2023-02/1675364274_grizly-club-p-kirgizstan-klipart-1.jpg"
                                 alt="Кыргызстан">
                            <h3>Кыргызстан</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://1.bp.blogspot.com/-IoYKy2J2bf4/UxY_tKp7SZI/AAAAAAAAJ4M/rl0F6A3d4z4/s1600/15385586_xl.jpg"
                                 alt="Украина">
                            <h3>Украина</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://klev.club/uploads/posts/2023-10/1697618804_klev-club-p-risunki-karta-moldovi-17.jpg"
                                 alt="Молдова">
                            <h3>Молдова</h3>
                        </div>
                        <div class="direction-block-1">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_map_of_Greater_Romania.svg/1600px-Flag_map_of_Greater_Romania.svg.png"
                                 alt="Румыния">
                            <h3>Румыния</h3>
                        </div>
                    </div>

                    <!--Image Box End-->


                    <div id="achievements" class="section section-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="section-heading">
                                        <h2 class="section-title">Наши достижения</h2>
                                        <div class="section-line"></div>
                                        <p class="section-subtitle">Наши клиенты доверяют нам и пользуются нашими
                                            услугами по перевозке грузов.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-md-4">
                                    <div class="achievement-item">
                                        <div class="achievement-icon">
                                            <img src="https://png.klev.club/uploads/posts/2024-03/png-klev-club-p-chernaya-zvezda-png-8.png"
                                                 style="width: 20%" alt="Опыт и репутация">
                                        </div>
                                        <div class="achievement-content">
                                            <h3 class="achievement-title">Опыт и репутация</h3>
                                            <p class="achievement-description">Успешно работаем на рынке логистики уже
                                                долгое время. Нас рекомендуют ведущие компании Кыргызстана, Казахстана и
                                                России.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="achievement-item">
                                        <div class="achievement-icon">
                                            <img src="https://static.tildacdn.com/tild6437-3335-4737-a161-313966653464/_.png"
                                                 style="width: 20%" alt="Собственный автопарк">
                                        </div>
                                        <div class="achievement-content">
                                            <h3 class="achievement-title">Собственный автопарк</h3>
                                            <p class="achievement-description">Собственный автотранспорт марки Volvo и
                                                MAN, а также рефрижераторные и тентовые полуприцепы.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="achievement-item">
                                        <div class="achievement-icon">
                                            <img src="https://asiatransit.kg/wp-content/uploads/2019/06/3.png"
                                                 style="width: 20%" alt="Коллектив">
                                        </div>
                                        <div class="achievement-content">
                                            <h3 class="achievement-title">Коллектив</h3>
                                            <p class="achievement-description">Слаженная команда специалистов, способная
                                                обеспечить надежную поддержку для требовательных проектов.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 col-md-4">
                                    <div class="achievement-item">
                                        <div class="achievement-icon">
                                            <img src="https://asiatransit.kg/wp-content/uploads/2019/06/4.png"
                                                 style="width: 20%" alt="Клиентоориентированность">
                                        </div>
                                        <div class="achievement-content">
                                            <h3 class="achievement-title">Клиентоориентированность</h3>
                                            <p class="achievement-description">Мы стремимся повышать
                                                конкурентоспособность клиентов за счет успешного выполнения
                                                логистических задач.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="achievement-item">
                                        <div class="achievement-icon">
                                            <img src="https://asiatransit.kg/wp-content/uploads/2019/06/5.png"
                                                 style="width: 20%" alt="Проектные компетенции">
                                        </div>
                                        <div class="achievement-content">
                                            <h3 class="achievement-title">Проектные компетенции</h3>
                                            <p class="achievement-description">Нами накоплен обширный опыт по ведению
                                                крупных проектов и работе в труднодоступных регионах.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="achievement-item">
                                        <div class="achievement-icon">
                                            <img src="https://asiatransit.kg/wp-content/uploads/2019/06/6.png"
                                                 style="width: 20%" alt="Устойчивое развитие">
                                        </div>
                                        <div class="achievement-content">
                                            <h3 class="achievement-title">Устойчивое развитие</h3>
                                            <p class="achievement-description">Мы привержены принципам экологичности,
                                                социальной ответственности и устойчивого развития.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container mt-5">
                        <h1 class="text-center mb-4">Наши услуги</h1>
                        <div class="row">
                            {% for service in services %}
                            <div class="col-md-4 col-sm-6 mb-4">
                                <div class="card h-100">
                                    <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ service.title }}</h5>
                                        <p class="card-text">{{ service.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container my-5">
                        <div class="contact-form">
                            <h2>Свяжитесь с нами</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_name" class="form-label">Имя</label>
                                    <input type="text" class="form-control" id="id_name" name="name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="id_email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="id_email" name="email" required>
                                    <div class="form-text">Ваш email не будет передан третьим лицам.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="id_message" class="form-label">Сообщение</label>
                                    <textarea class="form-control" id="id_message" name="message" rows="5"
                                              required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <div class="container mt-5">
                        <h1 class="text-center mb-4">Наше месторасположение</h1>
                        <div id="map"></div>
                    </div>
                    <div class="container mt-5">
                        <h2>Часто задаваемые вопросы:</h2>
                        <div class="accordion" id="faqAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1"
                                            aria-expanded="true" aria-controls="collapse1">
                                        Вопрос 1: Где вы находитесь?
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                                     data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        Ответ: Кыргызская Республика, Чуйская область, Сокулукский район, с.
                                        Новопавловка, ул. Корсаковых
                                        б/н.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse2"
                                            aria-expanded="false" aria-controls="collapse2">
                                        Вопрос 2: Как с нами связаться?
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                     data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        Ответ: Тел: +996 555 27 90 90; +996 772 55 20 28 Адрес электронной почты:
                                        albatros.yilmazer@gmail.com.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading3">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse3"
                                            aria-expanded="false" aria-controls="collapse3">
                                        Вопрос 3: Какие услуги Вы предоставляете?
                                    </button>
                                </h2>
                                <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                     data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        Ответ: Наша компания предлагает широкий спектр логистических услуг, включая
                                        транспортировку грузов,
                                        складирование, таможенное оформление и управление цепочками поставок.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse4"
                                            aria-expanded="false" aria-controls="collapse4">
                                        Вопрос 4: Как узнать стоимость транспортировки груза?
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                     data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        Ответ: Стоимость транспортировки груза зависит от нескольких факторов, таких как
                                        тип груза, его вес
                                        и объем, расстояние, условия доставки и дополнительные услуги. Для получения
                                        точной стоимости,
                                        пожалуйста, свяжитесь с нашим отделом.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading5">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse5"
                                            aria-expanded="false" aria-controls="collapse5">
                                        Вопрос 5: Какие меры безопасности вы принимаете для защиты моего груза?
                                    </button>
                                </h2>
                                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                     data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        Ответ: Мы принимаем все необходимые меры для обеспечения безопасности вашего
                                        груза. Наши склады
                                        оснащены системами видеонаблюдения и охраны, а транспортные средства имеют
                                        системы GPS-навигации для
                                        отслеживания маршрута.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>


                    <footer class="footer mt-auto py-3">
                        <div class="container text-center">
                            <span>© 2024 Альбатрос Транс. Все права защищены.</span>
                            <div class="footer-links mt-3">
                                <a href="{% url 'index' %}" class="btn btn-outline-light btn-sm">Главная</a>
                                <a href="{% url 'about' %}" class="btn btn-outline-light btn-sm">О нас</a>
                                <a href="{% url 'services' %}" class="btn btn-outline-light btn-sm">Сервисы</a>
                                <a href="{% url 'contact' %}" class="btn btn-outline-light btn-sm">Контакты</a>
                                <a href="{% url 'faq' %}" class="btn btn-outline-light btn-sm">FAQ</a>
                                <a href="{% url 'news' %}" class="btn btn-outline-light btn-sm">Новости</a>
                            </div>
                            <div class="footer-icons mt-3">
                                <p>+996 555 27 90 90</p>
                                <p>+996 772 55 20 28</p>
                                <p>albatros.yilmazer@gmail.com</p>
                            </div>
                        </div>
                    </footer>

                    <div class="btn-up btn-up_hide"></div>


                    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async
                            defer></script>
                    <script>
                        function initMap() {
                            // Создание объекта карты
                            var location = {lat: 42.870225, lng: 74.465063};
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 15,
                                center: location
                            });

                            // Добавление маркера
                            var marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });
                        }


                    </script>

                    <!-- Подключение Bootstrap JS и Popper.js -->
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                            crossorigin="anonymous"></script>
                    <script>
                        window.addEventListener('scroll', function () {
                            var navbar = document.querySelector('.navbar');
                            if (window.scrollY > 50) {
                                navbar.classList.add('scrolled');
                            } else {
                                navbar.classList.remove('scrolled');
                            }
                        });


                    </script>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const navbarToggler = document.querySelector('.navbar-toggler');
                            const navbar = document.querySelector('.navbar');

                            navbarToggler.addEventListener('click', function () {
                                if (navbar.classList.contains('toggled')) {
                                    navbar.classList.remove('toggled');
                                } else {
                                    navbar.classList.add('toggled');
                                }
                            });
                        });


                    </script>
                    <script>
                        const btnUp = {
  el: document.querySelector('.btn-up'),
  show() {
    // удалим у кнопки класс btn-up_hide
    this.el.classList.remove('btn-up_hide');
  },
  hide() {
    // добавим к кнопке класс btn-up_hide
    this.el.classList.add('btn-up_hide');
  },
  addEventListener() {
    // при прокрутке содержимого страницы
    window.addEventListener('scroll', () => {
      // определяем величину прокрутки
      const scrollY = window.scrollY || document.documentElement.scrollTop;
      // если страница прокручена больше чем на 400px, то делаем кнопку видимой, иначе скрываем
      scrollY > 400 ? this.show() : this.hide();
    });
    // при нажатии на кнопку .btn-up
    document.querySelector('.btn-up').onclick = () => {
      // переместим в начало страницы
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
}

btnUp.addEventListener();

                    </script>
</body>
</html>
